:root {
  --first-text-primary: #212121;
  --main-background-color: #ffffff;
  --highlight-color: #2196f3;
  --complementary-color: #2f303a;
  --complementary-color-text: #757575;
  --complementary-color-text-nav: #ffffff99;
  --icon-social-color: #afb1b8;
  --shadow-effect: #2f303a;
  --display-property-flex: flex;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

::before,
::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers_pading {
  padding-top: 112px;
}

.zeroing_section_top {
  padding-top: 0px;
}

.hero_section_top {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/icon/hero_img.svg);
  background-size: cover;
  background-position: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.icon_list_social {
  border: none;
  display: flex;
  width: 206px;
  margin-left: 32px;
  margin-right: 32px;
  justify-content: space-evenly;
}

.icon_list_social li:not(:last-child) {
  margin-right: 10px;
}

.fond_social {
  fill: var(--icon-social-color);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fond_social:focus,
.fond_social:hover {
  fill: var(--main-background-color);
  background-color: var(--highlight-color);
}

.icon {
  stroke: none;
  width: 20px;
  height: 20px;
}

/* All nav menu */
.header_border {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.all_nav {
  display: var(--display-property-flex);
  align-items: center;
}

/* logo */

.studiocolor_top {
  margin-right: 93px;

  font-family: Raleway;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.173;
  color: var(--first-text-primary);
  letter-spacing: 0.03em;
}
.webcolor {
  font-family: Raleway;
  text-decoration: none;
  color: var(--highlight-color);
}

.studiocolor_bottom {
  display: inline-flex;
  margin-bottom: 20px;
  font-family: Raleway;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.173;
  color: var(--main-background-color);
  letter-spacing: 0.03em;
}

/* body */
.body-styles {
  font-family: "Roboto", sans-serif;
  color: var(--first-text-primary);
}

.hero_title {
  padding-top: 200px;
  padding-bottom: 200px;
}

/* font title */
.font_size_title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: var(--main-background-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h1 span {
  display: block;
}

/* button index */

.font-size-button-index {
  margin-left: 485px;
  margin-right: 485px;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 500;
  font-family: Roboto;
  font-size: 16px;
  background-color: var(--highlight-color);
  color: var(--main-background-color);
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

/* Cвойство flexbox для основной секции (портфоли)*/

/* button portfolio */

.portfolio_container {
  box-sizing: border-box;
  
}

.font-size-button-portfolio {
  margin: 0 auto;
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.font-size-button-portfolio:focus,
.font-size-button-portfolio:hover {
  background-color: var(--highlight-color);
  color: var(--main-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.all_portfolio_button {
  margin-bottom: 50px;
  display: var(--display-property-flex);
  justify-content: center;
  align-items: center;
  
}

.all_portfolio_button li:not(:last-child) {
  margin-right: 8px;
}

.nav_all_link {
  display: block;
  display: var(--display-property-flex);
}

.nav_all_link .item {
  margin-right: 50px;
}

.nav_all_link .item:last-child {
  margin-right: 0;
}

.nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--first-text-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav-link:focus,
.nav-link:hover {
  color: var(--highlight-color);

}

.actual::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
  
}

.contact_nav {
  display: var(--display-property-flex);
  margin-left: 305px;
}

.icon_contact {
  display: inline-block;
  margin-right: 10px;
  border: none;
  justify-content: center;
  align-items: center;
}

.nav-link-mail:focus,
.nav-link-mail:hover {
  fill: var(--highlight-color);
}

.nav-link-tel:focus,
.nav-link-tel:hover {
  fill: var(--highlight-color);
}
/* тест */

/* li .nav-link-mail::before,
li .nav-link-tel::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
}

li .nav-link-mail::before {
  width: 16px;
  height: 12px;
  background-image: url(/images/icon/envelope.svg);
}

li .nav-link-tel::before {
  width: 10px;
  height: 16px;
  background-image: url(/images/icon/smartphone.svg);
} */

.nav-link-mail {
  display: flex;
  margin-right: 30px;
  text-decoration: none;
  color: var(--complementary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mail:focus,
.nav-link-mail:hover {
  color: var(--highlight-color);
}

.nav-link-tel {
  display: flex;
  text-decoration: none;
  color: var(--complementary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-tel:focus,
.nav-link-tel:hover {
  color: var(--highlight-color);
}

.pointer {
  cursor: pointer;
}

.text_title_h2_index {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  letter-spacing: 0.03em;
}

.all_main_h2 {
  display: var(--display-property-flex);
  align-items: center;
  justify-content: center;
}

.all_main_h2 .item:not(:last-child) {
  margin-right: 30px;
}

.team_background {
  background-color: #f5f4fa;
}

.variation img {
  display: block;
}

.variation .item {
  position: relative;
}

.shadow_text {
  color: var(--main-background-color);
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Наша команда */

.all_main_h2_team {
  display: var(--display-property-flex);
  align-items: center;
  justify-content: center;
}

.item_team {
  background-color: var(--main-background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.all_main_h2_team .item_team:not(:last-child) {
  margin-right: 30px;
}

.text-team-index {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
}

.item_team_overall {
  background-color: var(--main-background-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.all_main_h3 {
  height: 251px;
  display: var(--display-property-flex);
  justify-content: center;
  box-sizing: border-box;
}

.all_main_h3 .item:not(:last-child) {
  margin-right: 30px;
}

.icon_benefits {
  width: 270px;
  height: 120px;
  margin-right: 0px;
  margin-bottom: 30px;
  display: var(--display-property-flex);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.text-title-h3-index {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-primary);
}

.text-index {
  width: 270px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--complementary-color-text);
}

.text-command-professions-index {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.171;
  color: var(--complementary-color-text);
  letter-spacing: 0.03em;
}

.text_customers_h2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 45px;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.our_customers {
  display: var(--display-property-flex);
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.customers_icons {
  display: var(--display-property-flex);
  width: 170px;
  height: 92px;
}

.customers_icons:not(:last-child) {
  margin-right: 30px;
}

.customers_icons_link {
  width: 100%;
  height: 100%;
  padding-top: 14.43px;
  padding-bottom: 14.43px;
  padding-left: 32px;
  padding-right: 32px;
  fill: var(--icon-social-color);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-social-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers_icons_link:focus,
.customers_icons_link:hover {
  border-color: var(--highlight-color);
  fill: var(--highlight-color);
}

/* .our_social:focus,
.our_social:hover {
  fill: var(--main-background-color);
  background-color: var(--highlight-color);
} */

/* .customers_icons:nth-child(6n) {
  margin-right: 0px;
}

.customers_icons:nth-last-child(-n + 6) {
  margin-bottom: 0px;
} */

/* Cвойство flexbox для основной секции (портфоли)*/

/* icon portfolio menu */

.portfolio_icon {
  justify-content: center;
  align-items: center;
  display: var(--display-property-flex);
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio_element {
  max-width: 100%;
  box-sizing: border-box;
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  background: var(--main-background-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_element img {
  max-width: 100%;
}

.portfolio_element:focus,
.portfolio_element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio_element:nth-child(3n) {
  margin-right: 0px;
}

.portfolio_element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.content_view {
  position: relative;
  overflow: hidden;
}

.content_view::before {
  display: inline-block;
  position: absolute;
  content: "";
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  /* opacity: 0.6; */
  transform: translateY(100%);
  transition: transform 950ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_element:hover .content_view::before {
  opacity: 1;
  transform: translateY(0%);
}

.portfolio_element img {
  display: block;
}

.content {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  /* opacity: 0.6; */
  color: var(--main-background-color);
  transform: translate(-150px, 200px);
  transition: transform 950ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.portfolio_element:hover .content {
  opacity: 1;
  transform: translate(-50%, -50%);

}

.item_text {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background: var(--main-background-color);
  padding: 20px 24px;
 
}

.text-title-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.875;
  color: var(--complementary-color-text);
  letter-spacing: 0.03em;
}

.footer_background {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--complementary-color);
}

.footer_all_box {
  margin-right: 70px;
  display: block;
  justify-content: flex-start;
  align-items: center;
}

.footer_box {
  display: flex;
}

.address_index {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.footer_all_box_contacts li:not(:last-child) {
  margin-bottom: 9px;
}

.nav-text-footer {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.714;
  color: var(--complementary-color-text-nav);
  letter-spacing: 0.03em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-text-footer:focus,
.nav-text-footer:hover {
  color: var(--highlight-color);
}

.our_box {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 40px;
  padding: 0;
}

.our_title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.our_icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  
}

.our_social {
  fill: var(--main-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our_social:focus,
.our_social:hover {
  fill: var(--main-background-color);
  background-color: var(--highlight-color);
}

.our_icon li:not(:last-child) {
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close_button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* .icon_button {
  display: inline-block;
  justify-content: center;
  align-items: center;
} */
